<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ccb4461d-26d5-40df-8df3-df0a3c55f86d/resourceGroups/TestTask_group/providers/Microsoft.Web/sites/TGBott</ResourceId>
    <ResourceGroup>TestTask_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://tgbott.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://tgbott.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$TGBott</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>